# ==========================================
# Google Cloud Platform (GCP)
# ==========================================
GCP_PROJECT_ID=seu-projeto-gcp-id
GCP_DATASET_GOLD=netflix_analitical
GCP_BUCKET_NAME=seu-bucket-gcp
GCP_CREDENTIALS_FILE=google_credentials.json

# ==========================================
# Apache Airflow & PostgreSQL
# ==========================================
AIRFLOW_UID=1000
AIRFLOW_WEBSERVER_SECRET_KEY=sua_secret_key_aqui_gerada
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
